<!DOCTYPE html>
<html>
<head>
  <title>Welcome to My App</title>
</head>
<body>
  <div id="root">
    <h1>Hello, World!</h1>
    <p>This is a static view in a Ruby on Rails application.</p>

    <!-- Add a link to the greeting page -->
    <a href="/greetings">Go to Greeting Page</a>
  </div>
  <script src="packs/application.js"></script>
</body>
</html>
